<template>
  <div id="wrapper">
    <main>
        <div class="row">
            <confer v-bind:options="savedelements" v-on:saved="savedata"></confer>
            <queue-status v-bind:status="status" v-on:start="startprocess" ></queue-status>
        </div>
        <div class="row">
            <file-options v-bind:option="options"></file-options>
        </div>
    </main>
  </div>
</template>

<script>
  import confer from './LandingPage/confer.vue'
  import queueStatus from './LandingPage/queue_status'
  import fileOptions from './LandingPage/file_options'

  export default {
    name: 'landing-page',
    components: { confer, queueStatus, fileOptions },
    data () {
      return {
        'savedelements': {},
        'options': [],
        'status': 0
      }
    },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      savedata (data) {
        let elemt = this
        let newdata = data
        newdata['options'] = elemt.options
        elemt.savedelements = newdata
        elemt.$electron.ipcRenderer.send('save', data)
      },
      startprocess (data) {
        this.$electron.ipcRenderer.send('start_process', data)
      }
    },
    mounted () {
      let elemt = this
      elemt.$electron.ipcRenderer.send('getdata')
      elemt.$electron.ipcRenderer.on('setup-data', (event, data) => {
        if ('options' in data) {
          elemt.options = data['options']
        } else {
          elemt.options = []
        }
        elemt.savedelements = data
      })
      elemt.$electron.ipcRenderer.on('status', (event, data) => {
        elemt.status = data.status
      })
    }
  }
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body { font-family: 'Source Sans Pro', sans-serif; }

  #wrapper {
    background:
      radial-gradient(
        ellipse at top left,
        rgba(255, 255, 255, 1) 40%,
        rgba(229, 229, 229, .9) 100%
      );
    height: 100vh;
    padding: 30px 25px;
    width: 100vw;
  }

  #logo {
    height: auto;
    margin-bottom: 20px;
    width: 420px;
  }

  main {
    display: block;
    justify-content: space-between;
  }

  main > div { flex-basis: 50%; }

  .left-side {
    display: flex;
    flex-direction: column;
    padding-right:30px;
  }

  .welcome {
    color: #555;
    font-size: 23px;
    margin-bottom: 10px;
  }

  .title {
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .title.alt {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .doc p {
    color: black;
    margin-bottom: 10px;
  }

  .doc button {
    font-size: .8em;
    cursor: pointer;
    outline: none;
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
  }

  .doc button.alt {
    color: #42b983;
    background-color: transparent;
  }

  .row{
      display: block;
      margin-bottom: 20px;

  }
</style>
