<template>
    <div id="confermain">
        <div class="rowside">
            <div class="title">AWS Configure</div>
            <div class="items">
                <div class="item">
                    <div class="name">AWS key</div>
                    <div class="value"><input type="text" v-model="aws_key"/></div>
                </div>
                <div class="item">
                    <div class="name">AWS Secret</div>
                    <div class="value"><input type="password" v-model="aws_secret"/></div>
                </div>
                <div class="item">
                    <div class="name">AWS Region</div>
                    <div class="value"><input type="text" v-model="aws_region"/></div>
                </div>
            </div>
        </div>
        <div class="rowside">
            <div class="title">Settings</div>
            <div class="items">
                <div class="item">
                    <div class="name">Computer name</div>
                    <div class="value"><input type="text" v-model="computer_name"/></div>
                </div>
                <div class="item mt-10">
                    <div class="name">Communication</div>
                    <div class="value">
                        <select v-model="communication">
                            <option v-for="option in communication_option" v-bind:value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="item mt-10">
                    <div class="name">Input Queue</div>
                    <div class="value"><input type="text" v-model="queue_in"></div>
                    <div class="value"><p>If this is the Worker queue should end with a '_' and be the same as other siblings clients.</p></div>
                </div>
                <div class="item mt-10">
                    <div class="name">Output Queue</div>
                    <div class="value"><input type="text" v-model="queue_out"></div>
                    <div class="value"><p>If this is the Relay the text should be what is in all slave input queues of this process.</p></div>
                </div>
            </div>
            <button class="btn mt-20" @click="save()">Save</button>
        </div>
    </div>
</template>

<script>
    export default {
      name: 'confer',
      props: ['options'],
      data () {
        return {
          'aws_key': undefined,
          'aws_secret': undefined,
          'aws_region': undefined,
          'computer_name': undefined,
          'communication_option': [
            {'text': 'Relay', 'value': 1},
            {'text': 'Worker', 'value': 2}
          ],
          'communication': undefined,
          'queue_in': undefined,
          'queue_out': undefined
        }
      },
      methods: {
        package () {
          let elemt = this
          let option = {
            'accessKeyId': elemt.aws_key,
            'secretAccessKey': elemt.aws_secret,
            'name': elemt.computer_name,
            'communication': elemt.communication,
            'queue_in': elemt.queue_in,
            'queue_out': elemt.queue_out,
            'region': elemt.aws_region
          }
          return option
        },
        save () {
          this.$emit('saved', this.package())
        }
      },
      watch: {
        options: function (value) {
          let elemt = this
          elemt.aws_key = value.accessKeyId
          elemt.aws_secret = value.secretAccessKey
          elemt.computer_name = value.name
          elemt.communication = value.communication
          elemt.queue_out = value.queue_out
          elemt.queue_in = value.queue_in
          elemt.aws_region = value.region
        }
      }
    }
</script>

<style scoped>
    #confermain{
        display: inline-block;
        width: 66.6666%;
    }
    .mt-20{
        margin-top: 20px !important;
    }
    .mt-10{
        margin-top: 10px !important;
    }
    .rowside{
        display:inline-block;
        width:50%;
        float: left;
    }
</style>