<template>
    <div>
        <div class="title mt-20">File list</div>
        <div class="ordering">
            <p class="textinput">Feed name</p>
            <p class="fileinput" >Folder location</p>
            <p class="checkboxinput" >Monitor</p>
            <p class="checkboxinput" >Is Error</p>
            <p class="fileinput_half" >S3 Bucket</p>
            <p class="fileinput_half" >S3 Key</p>
            <p class="checkboxinput" >Delete</p>
        </div>
        <div class="items">
            <div v-for="opt in option">
                <file-input v-bind:option="opt" v-on:remove="removeopt"></file-input>
            </div>
        </div>
        <button v-on:click="add()">Add Option</button>
    </div>
</template>

<script>
  import fileInput from './file_input'

  export default {
    name: 'fileOptions',
    props: {
      option: Array
    },
    components: { fileInput },
    data () {
      return {}
    },
    methods: {
      count () {
        return Date.now()
      },
      add () {
        this.option.push({id: this.count(), feed: '', location: '', monitor: false, bucket: '', key: '', error: false})
      },
      removeopt (value) {
        this.option.forEach((item, index) => {
          if (item.id === value) {
            this.option.splice(index, 1)
          }
        })
      }
    }
  }
</script>

<style scoped lang="scss">
    .mt-20{
        margin-top: 20px;
    }
    .ordering{
        display: inline-flex;
        justify-content: center;
        align-content: space-between;
        margin-bottom: 5px;
    }
    .textinput{
        width: 200px;
        margin-right:5px;
    }
    .fileinput{
        width: 400px;
        margin-right:5px;
    }
    .fileinput_half{
        width: 200px;
        margin-right:5px;
    }
    .checkboxinput{
        width: 50px;
        margin-right:5px;
    }
    .items{
        overflow-y: scroll;
        height: 205px;
    }

</style>