<template>
    <div class="ordering">
        <input class="textinput" type="text" placeholder="Feed name" v-model="option.feed">
        <div class="fileinput">
            <input class="fileinput" type="file" placeholder="Folder location" ref="myFolder" v-on:change="folderadrs" webkitdirectory directory>
            <p class="location_text">{{ option.location }}</p>
        </div>
        <input class="checkboxinput" type="checkbox" placeholder="Monitor" v-model="option.monitor">
        <input class="checkboxinput" type="checkbox" placeholder="Is error" v-model="option.error">
        <input class="fileinput_half" type="text" placeholder="S3 Bucket" v-model="option.bucket">
        <input class="fileinput_half" type="text" placeholder="S3 Key" v-model="option.key">
        <h2 class="checkboxinput" v-on:click="remove()">X</h2>
    </div>
</template>

<script>
  export default {
    name: 'fileInput',
    props: {
      'option': {
        type: Object,
        required: true
      }
    },
    methods: {
      folderadrs () {
        console.log(this)
        this.option.location = this.$refs.myFolder.files[0].path
      },
      remove () {
        this.$emit('remove', this.option.id)
      }
    }
  }
</script>

<style scoped lang="scss">
    .ordering{
        display: inline-flex;
        justify-content: center;
        align-content: start;

        input, h2, div{
            margin-right:5px;

            &.textinput{
                width: 200px;
            }
            &.fileinput{
                width: 400px;
            }
            &.fileinput_half{
                width: 200px;
            }
            &.checkboxinput{
                width: 50px;
                cursor: pointer;
            }
        }
        .location_text{
            max-width: 400px;
            word-break: break-all;
       }
    }
</style>