<template>
    <div>
        <div class="title mt-20">Local Folders</div>
        <div class="items">
            <div class="name">Download directory</div>
            <div class="value"><input type="file" v-on:change="downloaddir" ref="myFolder" webkitdirectory directory></div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'location',
    props: ['options'],
    data () {
      return {
        'download_dir': undefined,
        'monitor': []
      }
    },
    methods: {
      package () {
        let option = { }
        return option
      },
      save () {
        this.$emit('saved', this.package())
      },
      downloaddir () {
        this.download_dir = this.$refs.myFolder.files[0].path
      }
    },
    watch: {
      options: function (value) {
        let elemt = this
        elemt.download_dir = value.download_dir
        elemt.monitor = value.monitor
      }
    }
  }
</script>

<style scoped>
    .mt-20{
        margin-top: 20px !important;
    }
    .mt-10{
        margin-top: 10px !important;
    }
</style>