<template>
    <div id="queuestatus">
        <div class="title">Queue Status</div>
        <div class="items">
            <div class="item">
                <div class="name">Current Status</div>
                <div class="value">{{ statustext }}</div>
            </div>
            <div class="item mt-20">
                <div class="value"><button class="btn" @click="startclick()">{{ buttontext }}</button></div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'queueStatus',
    props: {status},
    data () {
      return {}
    },
    methods: {
      startclick (data) {
        this.$emit('start', { 'status': this.status })
      }
    },
    computed: {
      statustext () {
        let elemt = this
        let returntext = ''
        switch (elemt.status) {
          case 0:
            returntext = 'Off'
            break
          case 1:
            returntext = 'Problem'
            break
          case 2:
            returntext = 'Running'
            break
          default:
            returntext = '??'
            break
        }
        return returntext
      },
      buttontext () {
        let elemt = this
        let returntext = ''
        switch (elemt.status) {
          case 0:
            returntext = 'start'
            break
          case 2:
            returntext = 'stop'
            break
          default:
            returntext = 'restart'
            break
        }
        return returntext
      }
    }
  }
</script>

<style scoped>
    #queuestatus{
        display: inline-block;
        top: 31px;
        width: 32%;
        position: absolute;
    }

    .mt-20{
        margin-top: 20px !important;
    }
    .mt-10{
        margin-top: 10px !important;
    }
</style>